# Question 2 - Pyspark

### Spark Environment Check
Run below code to check if your environment configuration worked

In [12]:
import findspark
findspark.init()
import pyspark
import random
sc = pyspark.SparkContext(appName="Pi")
num_samples = 100000000
def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1
count = sc.parallelize(range(0, num_samples)).filter(inside).count()
pi = 4 * count / num_samples
print(pi)
sc.stop()

3.1413858

#### Scenario
A 70 years old and very oddly placed [silo](https://en.wikipedia.org/wiki/Silo) in a refinery circuit is void of digital weight / volume gauge sensors and needs an operator to climb up and [measure the silo content manually](assets/data/silo_actuals.csv) (both for weight and volume). 

![refinary_silo.png](assets/images/refinary_silo.png)

Due to limited resources and ever increasing higher priority concerns in the plant, this manual measurement takes place randomly as and how it permits to refinery operation. There is a [historical average from past data](assets/data/historical_averages.csv) of how much product is available in the silo any given day of the week. Also the Refinary operation's Inventory Reconcilation team's "Weekly Team Huddle" meeting is every thursday, that report "weekly inventory" on a custom week scale _(last thursday to this wednesday)_
Using these two data points, and using pyspark, print a monthly report that reads exactly like the [output_reference.csv](assets/data/output_reference.csv):

<strong> Provide solution with these restrictions : 
* DO NOT use sequential loop over date range to back-fill dates
</strong>

In [1]:
import pandas as pd

df = pd.read_csv("assets/data/output_reference.csv", sep=",", keep_default_na=False)
# shows top 10 rows
df.head(31)

,date,silo_wt_in tons,weekly_total_tons,mtd_running_total_tons,monthly_grand_total
0,6/1/2023,70,0,70,
1,6/2/2023,65,,135,
2,6/3/2023,45,,180,
3,6/4/2023,40,,220,
4,6/5/2023,53,,273,
5,6/6/2023,62,,335,
6,6/7/2023,70,405,405,
7,6/8/2023,80,,485,
8,6/9/2023,65,,550,
9,6/10/2023,43,,593,
10,6/11/2023,40,,633,
11,6/12/2023,50,,683,
12,6/13/2023,65,,748,
13,6/14/2023,66,409,814,
14,6/15/2023,80,,894,
15,6/16/2023,65,,959,
16,6/17/2023,45,,1004,
17,6/18/2023,40,,1044,
18,6/19/2023,50,,1094,
19,6/20/2023,65,,1159,
20,6/21/2023,78,423,1237,
21,6/22/2023,80,,1317,
22,6/23/2023,65,,1382,
23,6/24/2023,41,,1423,
24,6/25/2023,35,,1458,
25,6/26/2023,50,,1508,
26,6/27/2023,65,,1573,
27,6/28/2023,70,406,1643,
28,6/29/2023,83,,1726,
29,6/30/2023,65,,1791,

In [1]:
## TODO: your code here